<ion-tabs (ionTabsDidChange)="onTabChange()">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="mascotas" href="/tabs/mascotas">
      <ion-icon name="paw"></ion-icon>
      <ion-label>Mascotas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tienda" href="/tabs/tienda">
      <ion-icon name="storefront"></ion-icon>
      <ion-label>Tienda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="noticias" href="/tabs/noticias">
      <ion-icon name="newspaper"></ion-icon>
      <ion-label>Noticias</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
